.home {
    background-image: url('images/water.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

.home h1 {
    height : 45%;
    position: fixed;
    bottom: 0;
    right: 1;
}

.listfillpage {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.listfill {
    flex-grow: 1;
}

.listfill ul {
     height: 100%;
     list-style-type: disc;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}

.listfill ol {
    height: 100%;
     list-style-type:  decimal;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}

.no-padding {
  padding: 0;
}
